.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    width: 800px
}

.white {
    background-color: #f0d9b5;
    height: 100px;
    width: 100px;
}

.black {
    background-color: #b58863;
    height: 100px;
    width: 100px;
}