body {
    font-family: "Sono", sans-serif;
}

.pricing-plan {
    background-color: grey;
    display: inline-block;
    width: 300px;
    padding: 30px
}

.plan-button {
    background-color: orange;
    border-radius: 5px
}

@media (max-width: 1250px) {
}